.panel
  absolute left 50% top 50%
  size: $widgetWidth 500px
  margin: -250px
  
  @media(max-width: $widgetWidth)
    box-sizing: border-box
    top: 0
    left: 0
    size: 100% 100%
    margin: 0
    padding-top: 20px

.widget
  width: $widgetWidth
  max-width: calc(100% - 40px)
  padding: 20px 20px 0
  margin: auto
    