{
  "presets": ["es2015"],
  "plugins": [
    "transform-strict-mode"
  ],
  "env": {
    "development": {
      "presets": [],
      "plugins": []
    },
    "production": {
      "presets": []
    }
  }
}
