.settings-tab__header
  user-select: none
  border-bottom: 1px solid #8e8e8e
  display: flex
  align-items: center
  
.settings-tab__title
  padding: 15px 20px
  
.react-toggle-container
  padding: 15px 30px
  
.settings-tab__title
  width: 90%
  margin: 0
  font-size: 16px
  font-weight: 300
  
.settings-tab__content
  padding: 20px
  background-color: rgba(0, 0, 0, 0.6)
  color: #fff
  
.settings-tab__option
  display: flex