.widget-weather__temp
  font-size: 40px
  
.widget-weather__icon,
.widget-weather__icon svg
  size: 40px 40px
  
.widget-weather__icon
  margin: 0 10px
  
.widget-weather__description
  font-weight: 300
  font-size: 1.7vh
  
  @media(max-width: $widgetWidth)
    font-size: 2.5vh
  
.widget-weather__temp
  display: flex
  
.widget-weather__units
  margin: 4px
  font-size: 2vh
  font-weight: 300
  
.widget-weather__now
.widget-weather__forecast
  display: flex
  align-items: center
  width: 400px
  
.widget-weather__forecast
  margin: 0 0 0 -7.5px
  
.widget-weather__forecast-date
  margin: 7px 10px
  padding: 7px 0
  transition: 200ms
  border-bottom: 4px solid transparent
  
.widget-weather__forecast-date--active
  border-bottom: 4px solid rgba(255, 255, 255, 0.7)
  
.widget-weather__forecast-temp
  font-size: 1.6vh
  
  @media(max-width: $widgetWidth)
    font-size: 2vh
  
.widget-weather__forecast-day
  padding-top: 6px
  font-size: 1.7vh
  font-weight: 300
  
  @media(max-width: $widgetWidth)
    font-size: 2.4vh
    font-weight: 300
  