.widget-weather
  flex-wrap: nowrap
  width: 400px
  margin: 20px auto
  
.widget-weather__temp
  font-size: 34px
  line-height: 1
  
.widget-weather__units
  margin: 0 2px
  vertical-align: top
  
.widget-weather__now
.widget-weather__forecast
  display: flex
  width: 400px
  
.widget-weather__forecast
  margin-top: 10px
  
.widget-weather__forecast-date
  padding: 7px
  
  &:first-child
    background-color: rgba(255, 255, 255, 0.2)
  
.widget-weather__forecast-temp
  font-size: 13px