.widget-search
  width: 400px
  margin: 20px auto 0
  
.widget-search__input
  outline: none
  width: calc(100% - 20px)
  padding: 10px
  background-color: alpha(white, 0.7)
  border: 0
  font-size: 16px
  font-family: Open Sans
  color: #333
  
  &::-webkit-input-placeholder
    color: #555
    
  &:-moz-placeholder
    color: #555
    
  &::-moz-placeholder
    color: #555
    
  &:-ms-input-placeholder
    color: #555