.widget-websites__website
  margin-right: 10px

.widget-websites__icon
  size: 60px 60px
  
btnSize = 60px
lineWidth = 2px
midpoint = btnSize/2 - lineWidth/2
.widget-websites__btn-add
  position: relative
  size: btnSize btnSize
  background-color: transparent
  border: 0
  
.widget-websites__btn-add-vertline
.widget-websites__btn-add-horizline
  absolute: left 25px top 25px
  size: 10px 10px
  background-color: #fff
  border-radius: 100%
  transition: 200ms
  
.widget-websites__btn-add:hover
  .widget-websites__btn-add-vertline
  .widget-websites__btn-add-horizline
    border-radius: 0
  
  iconSize = btnSize - 30px
  .widget-websites__btn-add-vertline
    left: midpoint
    top: 15px
    size: lineWidth iconSize
    
  .widget-websites__btn-add-horizline
    left: 15px
    top: midpoint
    size: iconSize lineWidth