.settings__toggle-btn
  absolute left bottom
  padding: 25px

.settings
  .lightbox__modal
    absolute: left top
    size: 300px 100%
    background-color: alpha(#eee, 0.9)
    color: #333
    
  .lightbox__modal-btn-exit
    absolute: right top 6px
    padding: 20px
    
.settings__title
.settings__subtitle
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  background-color: alpha(#eee, 0.95)
  
.settings__title
  padding: 20px 20px 4px
  font-size: 24px
  font-weight: 200
  letter-spacing: 10px
  
.settings__subtitle
  padding: 0 20px 20px
  font-size: 1.2rem
  font-weight: 300
  letter-spacing: 0.1px