.settings__toggle-btn
  absolute left bottom
  padding: 25px

.settings
  .lightbox__modal
    absolute: left top
    size: 300px 100%
    background-color: rgba(255,255,255,0.6)
    color: #333
    
  .lightbox__modal-btn-exit
    absolute: right -50px top 10px
    
.settings__title
.settings__subtitle
  font-weight: 300
  
.settings__title
  padding: 20px 20px 0 20px
  font-size: 2vh
  
.settings__subtitle
  padding: 10px 20px
  font-size: 1.5vh