.settings__toggle-btn
  position: absolute
  left: 20px
  bottom: 20px

.settings
  .lightbox__modal
    position: absolute
    left: 0
    top: 0
    width: 300px
    height: 100%
    background-color: rgba(255,255,255,0.6)
    color: #333
    
  .lightbox__modal-btn-exit
    position: absolute
    right: -50px
    top: 10px
    
.settings__title
.settings__subtitle
  font-weight: 300
  padding: 0 20px