.background__image
  size: 100% 100%
  background-position: 50%
  background-size: cover
  opacity: 0.4
  background-color: black
  
.background__description
  fixed: bottom 20px right 20px
  width: 300px
  color: #fff
  font-family: Open Sans
  font-weight: 300
  line-height: 1.6
  font-size: 1rem
  
  @media(max-width: $widgetWidth)
    width: 60%
    font-size: 1.8vh

  a
    cursor: pointer
    color: #ccc
  