.background__image
  absolute: top left
  size: 100% 100%
  background-position: 50%
  background-size: cover
  opacity: 0.4
  background-color: black
  
.background__description
  width: 400px
  padding: 20px 0
  color: #fff
  font-family: Open Sans
  font-weight: 300
  line-height: 1.6
  font-size: 1rem
  
  *, a
    font-family: Open Sans
    font-weight: 300 !important
  
  @media(max-width: $widgetWidth)
    padding: 0 20px 60px 

  a
    cursor: pointer
    color: #ccc
  